.slick-track {
  display: flex;
}

.bg-test {
  background-color: brown;
}
.slick-prev {
  z-index: 2;
}

.slick-prev:before {
  content: "<";
  color: rgb(255, 255, 255);
  font-size: 30px;
  background-color: rgb(255, 85, 0);
  padding: 10px 15px;
  border-radius: 50%;
  border: 2px solid red;
  font-family: "FontAwesome";
  font-size: 22px;
  z-index: 2;
}
.slick-prev:before:hover {
  background-color: blue;
}

.slick-next:before {
  content: ">";
  color: red;
  font-size: 30px;
  padding: 10px 15px;
  border-radius: 50%;
  border: 2px solid red;
  font-family: "FontAwesome";
  font-size: 22px;
}
